* {
    background-color: rgb(57, 192, 192);
    font-family:  verdana, arial, helvetica;
}
.section-top{
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 15px;
}
.section-top img {
    width: 20vw;
}
.section-top h1 {
    font-size: 4vw;
    
}
.section-top, h1, img {
    background-color: rgb(47, 47, 112);
}
.section-middle {
    text-align: center;
    font-size: 2rem;
}
.section-nav nav {
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.section-nav nav li {
    list-style: none;
    margin: 2.5rem;
    font-size: 1.5rem;
    background-color:rgb(61, 61, 146);
    padding: 0.9rem;
    text-align: center;
    border-radius: 15px;
    font-weight: 500;
}
.section-jumbotron div img {
    width: 40vw;
    border-radius: 5px;
    margin: 5rem;
}
.section-jumbotron div 
